Django>4.2,<4.3
asgiref
dj-database-url
django-debug-toolbar
django-extensions
django-js-asset
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-taggit
django-tinymce
djangorestframework
pillow
psycopg2
sqlparse
typing_extensions
tzdata
