{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% block content %}

    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="inner-banner-content">
                        <h2 class="title">blog post</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <a href="#" class="scrollToTop"><img src={% static "images/aeroplane.png" %} alt="image"></a>

     <!-- breadcrumb-section start -->
     <div class="breadcrumb-section">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">Blog Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog Post</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- blog-section start -->
    <section class="blog-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center mb-30-none">
                <div class="col-lg-8">
                    <div class="blog-item mb-60">
                        <div class="blog-thumb--style2">
                            <img style="object-fit: cover; width: 100%; height: 500px;" src={{post.image.url}} alt="blog image">
                            <a href="#" class="overlay-date">{{post.published_date|date:'d M Y'}}</a>
                        </div>
                        <div class="blog-content--style2 blog-content--style3">
                            <h3 class="title">{{post.title}}</h3>
                            <div class="meta-post d-flex flex-wrap">
                                <div class="meta-user">
                                    <a href="#"><span>by {{post.author.get_full_name}}</span></a>
                                </div>
                                {% for cat in post.category.all %}
                                <div class="meta-user" style="padding-left: 10px;">
                                    <a href="{% url 'blog:category' category=cat.name %}"><span>{{cat.name}}</span></a>
                                </div>
                                {% endfor %}
                                <div class="meta-details">
                                    <a href="#"><span><i class="fas fa-eye"></i> {{post.counted_views}} Views</span></a>
                                </div>
                            </div>
                            <p>{{post.content|safe}}</p>
                            
                            <!-- navigation post prev or next -->
                            <div class="post-navigation">
                                {% if previous_post %}
                                <a href="{% url 'blog:details' pk=previous_post.id %}" class="prev-post">
                                    <span>&larr; Previous Post</span>
                                    <h4>{{previous_post.title}}</h4>
                                </a>
                                {% endif %}
                                {% if next_post %}
                                <a href="{% url 'blog:details' pk=next_post.id %}" class="next-post">
                                    <span>Next Post &rarr;</span>
                                    <h4>{{next_post.title}}</h4>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="comments-section">
                        <h3 class="title">{{comments.count}}  comments</h3>
                        <ul class="comment-wrapper">
                            <li>
                                {% for comment in comments %}
                                <div class="comment-item">
                                    <div class="comment-thumb">
                                        <a href="#"><img src={{comment.image.url}} alt="blog"></a>
                                    </div>
                                    <div class="comment-content">
                                        <h4 class="sub-title"><a href="#">{{comment.name}}</a></h4>
                                        <span>{{comment.created_date|timesince}} ago</span>
                                        <p>{{comment.message}}</p>
                                        {% for reply in comment.replies.all %}
                                            <div class="comment-content">
                                                <h6 class="sub-title">{{reply.name}}</h6>
                                                <span>{{reply.created_date|timesince}} ago</span>
                                                <p>{{reply.message}}</p>
                                            </div>
                                        {% endfor %}
                                        <a href="#" class="reply-button" onclick="toggleReplyForm({{ comment.id }}); return false;">Reply</a>
                                        <div id="reply-container-{{ comment.id }}" style="display: none;">
                                        <form action="{% url 'blog:details' pk=post.id %}" method="post">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                            <input class="btn btn-primary" type="submit" value="Replay">
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <div class="leave-comment">
                        <h3 class="title">Leave A Comment</h3>
                        <form  class="comment-form" action="{% url 'blog:details' pk=post.id %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6 form-group mb-30">
                                    <input type="text" name="name" placeholder="Name*">
                                </div>
                                <div class="col-sm-6 form-group mb-30">
                                    <input type="text" name="email" placeholder="Email*">
                                </div>
                                <div class="col-sm-12 form-group mb-30">
                                    <textarea placeholder="Write Message" name="message" cols="30" rows="2"></textarea>
                                </div>
                                <div class="col-sm-12 form-group mb-30">
                                    <input type="submit" class="cmn-btn" value="Post Comment">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="sidebar">
                        {% include "blog/blog-search.html" %}
                    
                        {% postcategories %}

                        {% latestposts %}

                        {% Newstag %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-section end -->

{% endblock %}