{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="inner-banner-content">
                        <h2 class="title">page not found</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <a href="#" class="scrollToTop"><img src="assets/images/aeroplane.png" alt="image"></a>

     <!-- breadcrumb-section start -->
     <div class="breadcrumb-section">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">404</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- 404-section start -->
    <section class="four-not-four-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="four-not-four-thumb">
                        <img src="{% static 'images/404.png' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-7 text-center pt-120">
                    <div class="four-not-four-content">
                        <h2 class="title">oops! this page not found</h2>
                        <p>maecenas amet mollis, tincidunt vestibulum suscipit nostra, ac gravida a nndum. Aquam id blandit sapien sollicitudinultrices pulvinar, magnatependisse convallis aenean, ametet <a href="{% url 'main:index' %}">  back to home </a></p>
                    </div>
                    <form class="four-not-four-form">
                        <div class="form-group">
                            <input type="text" placeholder="Type Keyword">
                            <input type="submit" class="cmn-btn" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- 404-section end -->
    
{% endblock %}